<h3><%= @storesearch.store_count %> Total Stores</h3>

<% @storesearch.stores.each do |store| %>
  <ul class='store'>
    <li class='name'><%= store.name %></li>
    <li class='city'><%= store.city %></li>
    <li class='distance'><%= store.distance %></li>
    <li class='phone'><%= store.phone %></li>
    <li class='store-type'><%= store.store_type %></li>
  </ul>
<% end %>
